@font-face {
  font-family: 'AvenirLight';
  src:
    local('AvenirLTPro35Light'),
    url(../fonts/AvenirLTPro35Light.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirHeavy';
  src:
    local('AvenirLTPro85Heavy'),
    url(../fonts/AvenirLTPro85Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsSemibold';
  src:
    local('PoppinsSemiBold'),
    url(../fonts/PoppinsSemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'BarlowLight';
  src:
    local('BarlowExtraLight'),
    url(../fonts/BarlowExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsExtraLight';
  src:
    local('PoppinsExtraLight'),
    url(../fonts/PoppinsExtraLight.ttf) format('truetype');
}

:root {
  --primary: rgb(0, 80, 255);
  --screen-width: 1024px;
}

body {
  margin: 0px;
  color: #000;
  font-family: AvenirLight;
  font-weight: 400;
  text-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px;
  p,
  h1,
  h2,
  h3,
  h4,
  ul {
    margin: 0px;
    padding: 0px;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .card {
    background-color: white;
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 25px 0px;
  }
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  column-gap: 48px;
  padding: 24px 72px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  .info {
    font-size: 17px;
    color: black;
    .name {
      font-family: PoppinsSemibold;
      font-size: 25px;
    }
  }
  .hamburger-react {
    display: none;
    z-index: 2;
  }
  .menu-container {
    position: fixed;
    top: -100%;
    left: 0px;
    background: rgb(244, 236, 230);
    width: 100%;
    height: 100%;
    transition: all 350ms;
    opacity: 0;
    &.visible {
      top: 0%;
      opacity: 1;
    }
    nav ul {
      padding: 0px;
      flex-direction: column;
      row-gap: 28px;
      margin-top: 132px;
      a {
        font-size: 20px;
        font-family: PoppinsSemibold;
      }
    }
  }
  nav ul {
    display: flex;
    align-items: center;
    column-gap: 16px;
    li {
      flex-shrink: 0;
      a {
        font-size: 14px;
        color: black;
        padding: 0px 8px;
        &:hover,
        &.active {
          color: var(--primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 24px 20px;
    .info {
      font-size: 14px;
      .name {
        font-size: 20px;
      }
      .seperator {
        display: block;
        visibility: hidden;
        height: 4px;
        width: 0px;
      }
    }
    .hamburger-react {
      display: block;
    }
    .nav {
      display: none;
    }
  }
  .footer {
    column-gap: 0px !important;
  }
  .resume-container {
    .main-container {
      .heading {
        padding-top: 54px !important;
        font-size: 28px !important;
      }
      .sub-heading-container {
        margin-top: 54px !important;
        .sub-heading {
          font-size: 20px !important;
        }
      }
      .card {
        flex-wrap: wrap;
        margin-top: 24px !important;
        padding: 24px 20px 24px 24px !important;
        .duration {
          flex-shrink: unset !important;
          width: auto !important;
          .blue-text {
            font-size: 18px !important;
          }
          span:first-of-type {
            font-size: 16px !important;
          }
        }
        ul {
          padding-left: 20px;
        }
      }
    }
  }
  .about-container {
    .background-container {
      height: 300px !important;
      width: 100% !important;
      top: 108px;
    }
    .main-container {
      flex-wrap: wrap !important;
      padding-top: 16px !important;
      .profile {
        width: 100%;
        .info {
          width: auto;
          padding: 32px 0px 26px 0px;
          img {
            width: 120px;
            height: 120px;
          }
          .name {
            margin-top: 20px;
            h2 {
              font-size: 21px;
              line-height: 25.2px;
            }
          }
          .blue-bar {
            margin-top: 16px;
          }
          span {
            font-size: 16px;
            letter-spacing: 2.25px;
            margin-top: 16px;
          }
        }
      }
      .details {
        margin: 0px 16px;
        h1 {
          font-size: 50px;
        }
        h3 {
          font-size: 20px;
        }
        .buttons {
          margin: 32px 0px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  .projects-container {
    padding-top: 72px !important;
    .main-container {
      width: 100% !important;
      .heading {
        padding: 32px 24px !important;
        h1 {
          font-size: 32px !important;
        }
      }
      .project {
        padding: 32px 0px !important;
        gap: 16px !important;
        margin: 0px 24px;
        flex-direction: column;
        align-items: start !important;
        img {
          width: 100% !important;
        }
        .course {
          font-size: 14px !important;
          line-height: 24px !important;
        }
        .name {
          font-size: 20px !important;
          margin-bottom: 4px !important;
        }
        .details {
          font-size: 15px !important;
        }
      }
    }
  }
  .project-container {
    .main-container {
      .full-width-container {
        flex-direction: column;
        height: auto !important;
        & > div:first-child {
          padding: 32px 24px !important;
          width: 100%;
        }
        & > div:nth-child(2n) {
          height: 260px;
          width: 100%;
        }
      }
    }
  }
}

.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  column-gap: 48px;
  font-size: 14px;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    padding: 0px 12px;
    word-break: break-all;
    h4 {
      font-family: AvenirHeavy;
    }
    a {
      color: #000;
    }
  }
}

.resume-container {
  background-color: rgb(230, 218, 206);
  .main-container {
    width: 90%;
    max-width: var(--screen-width);
    margin: 0px auto;
    padding-bottom: 64px;
    .heading {
      text-align: center;
      font-size: 35px;
      font-family: PoppinsSemibold;
      padding-top: 108px;
    }
    .sub-heading-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 108px;
      .sub-heading {
        font-size: 25px;
        font-family: PoppinsSemibold;
      }
    }
    .card {
      padding: 50px 40px 50px 50px;
      display: flex;
      flex-direction: row;
      margin-top: 32px;
      font-size: 16px;
      row-gap: 24px;
      column-gap: 48px;
      .duration {
        flex-shrink: 0;
        font-size: 14px;
        width: 30%;
        .blue-text {
          color: var(--primary);
          font-family: PoppinsSemibold;
          font-size: 20px;
        }
        span:first-of-type {
          font-size: 17px;
          margin: 12px 0px;
          display: inline-block;
        }
      }
      ul {
        list-style-type: disc;
        li {
          line-height: 22.4px;
        }
      }
      p {
        line-height: 24px;
      }
    }
  }
}

.projects-container {
  background-repeat: no-repeat;
  background-size: 100% 420px;
  padding-top: 96px;
  .main-container {
    width: 90%;
    max-width: var(--screen-width);
    margin: 0px auto;
    padding-bottom: 64px;
    background-color: white;
    .heading {
      padding: 80px 140px 80px 80px;
      h1 {
        font-family: PoppinsSemibold;
        font-size: 56px;
      }
      p {
        font-family: AvenirHeavy;
        font-size: 16px;
        line-height: 28.8px;
      }
    }
    .project {
      display: flex;
      align-items: center;
      padding: 48px 0px;
      color: #000;
      border-bottom: 1px solid rgb(199, 199, 199);
      gap: 80px;
      img {
        max-width: 420px;
        height: auto;
        object-fit: cover;
      }
      .course {
        font-family: BarlowLight;
        font-size: 16px;
        line-height: 28.8px;
      }
      .name {
        font-family: PoppinsSemibold;
        font-size: 30px;
        margin-bottom: 8px;
      }
      .details {
        font-family: PoppinsExtraLight;
        font-size: 20px;
      }
    }
  }
}

.about-container {
  position: relative;
  .background-container {
    height: 100%;
    background-color: rgb(230, 218, 206);
    position: absolute;
    width: 30%;
    z-index: -1;
  }
  .main-container {
    width: 90%;
    max-width: var(--screen-width);
    margin: 0px auto;
    display: flex;
    padding: 72px 0px 56px 0px;
    gap: 60px;
  }
  .profile {
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
    background-color: white;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0px 48px 0px;
    box-sizing: border-box;
    width: 375px;
    flex-shrink: 0;
    background-color: rgb(244, 236, 230);
    img {
      width: 205px;
      height: 205px;
      object-fit: cover;
      border-radius: 205px;
    }
    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      h2 {
        font-family: PoppinsSemibold;
        font-size: 27px;
        line-height: 32.4px;
      }
    }
    .blue-bar {
      width: 50px;
      height: 2px;
      background-color: var(--primary);
      margin-top: 24px;
    }
    span {
      font-size: 17px;
      letter-spacing: 4.25px;
      margin-top: 24px;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    padding: 16px;
    align-items: center;
    a {
      text-decoration: none;
    }
  }

  .details {
    h1 {
      font-family: PoppinsSemibold;
      font-size: 100px;
      color: rgb(92, 87, 82);
    }
    h3 {
      font-size: 25px;
    }
    .buttons {
      margin: 38px 0px 42px 0px;
      display: flex;
      column-gap: 8px;
    }
    p {
      line-height: 25.5px;
      font-size: 17px;
      font-weight: 400;
    }
  }
}

.general-container {
  background: rgb(230, 218, 206);
  .main-container {
    max-width: var(--screen-width);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 40px;
    text-align: center;
    a {
      color: var(--primary);
    }
  }
}

.project-container {
  background-color: rgb(230, 218, 206);
  .main-container {
    background-color: rgb(230, 218, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .slider-container {
      max-width: var(--screen-width);
      width: 90%;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .full-width-container {
      width: 100%;
      display: flex;
      height: 607px;
      background-color: #000;
      color: white;
      & > div {
        width: 50%;
      }
      & > div:first-child {
        padding: 60px;
        text-align: start;
        align-self: center;
        font-family: PoppinsSemiBold;
        display: flex;
        justify-content: end;
        box-sizing: border-box;
        h3 {
          font-size: 14px;
          font-weight: 400;
        }
        h1 {
          font-size: 30px;
          span {
            color: #fbb01d;
          }
        }
      }
      & > div:nth-child(2n) {
        background-color: red;
        background: no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }
    .coming-up-container {
      padding: 50px 40px 100px 40px;
      img {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

/* CSS */
.button {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-family: AvenirHeavy;
  font-size: 14px;
  min-width: 130px;
  outline: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #000;
  padding: 8px 20px;
}

.button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.blue-button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
}

.blue-button:hover {
  background-color: transparent;
  border-color: var(--primary);
  color: #000;
}
